<title>GroupThis!</title>
<style>

    body {
      color: #ffffff;
      background-color: #ccffcc;
      font-family: Impact, Charcoal, sans-serif;
      font-size:14px;
      -moz-transition-property: text-shadow;
      -moz-transition-duration: 4s;
      -webkit-transition-property: text-shadow;
      -webkit-transition-duration: 4s;
      text-shadow: none;
    }
    body.blurry {
      -moz-transition-property: text-shadow;
      -moz-transition-duration: 4s;
      -webkit-transition-property: text-shadow;
      -webkit-transition-duration: 4s;
      text-shadow: #fff 0px 0px 25px;
      }
    div {
      width: 100%-25px;
      padding: 25px;
      border: 25px solid navy;
      margin: 25px;
    }
    a {
      color: ##382cba;
    }

    .textColumn {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;

      text-align: center;
      padding-top: 11em;
      background-color: #0188cc;
      background-image: -moz-radial-gradient(left top, circle, #6ac9f9 0%, #0188cc 60%);
      background-image: -webkit-gradient(radial, 0 0, 1, 0 0, 500, from(#6ac9f9), to(#0188cc));
    }

    .button {
      border-top: 1px solid #96d1f8;
      background: #65a9d7;
      background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
      background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
      background: -moz-linear-gradient(top, #3e779d, #65a9d7);
      background: -ms-linear-gradient(top, #3e779d, #65a9d7);
      background: -o-linear-gradient(top, #3e779d, #65a9d7);
      padding: 12.5px 25px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
      -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
      box-shadow: rgba(0,0,0,1) 0 1px 0;
      text-shadow: rgba(0,0,0,.4) 0 1px 0;
      color: white;
      font-size: 14px;
      font-family: Helvetica, Arial, Sans-Serif;
      text-decoration: none;
      vertical-align: middle;
    }
    .button:hover {
      border-top-color: #28597a;
      background: #28597a;
      color: #ccc;
    }
    .button:active {
      border-top-color: #1b435e;
      background: #1b435e;
    }

    h1 {
      font-size: 1000%;
      font-weight: normal;
      margin-bottom: 0em;
      text-shadow: 5px 5px 5px #000080;
    }
    h2 {
      font-size: 200%;
      font-weight: normal;
      margin-bottom: 0em;
    }

    input[type=text] {
      width: 150px;
      display: block;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      background-color: #CCFFFF;
    }

    input[type=button] {
      width: 120px;
      margin-left: 35px;
      display: block;
    }
  </style>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  {% if not session.logged_in %}
    <form name="input" action="{{ url_for('login') }}">
      <input type="submit" value="log in" class=button >
    </form>
    <form name="input" action="{{ url_for('signup') }}">
      <input type="submit" value="sign up" class=button>
    </form>
  {% else %}
  <form>
  <form name="input" action="{{ url_for('logout') }}">
      <input type="submit" value="log out" class=button>
  </form>
  {% endif %}

  {% for message in get_flashed_messages() %}
    <class=flash>{{ message }}</class>
  {% endfor %}

  <h1 text-align= center>Group This!</h1

  {% block body %}{% endblock %}
</div>